.booksFormGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.InputText{
    display: flex;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 75%;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}
Button{
    display: inline-block;
    margin-bottom: -60px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 8px 15px;
    color: #fff;
    background-color: #1414d2;
    border-color: #6d6dec;
    border-radius: 4px;
}