:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: url(https://wallpapers.com/images/hd/fruit-background-2nxi7xtzl2cwfzgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header{
    margin-bottom: 50px;
  }
  
  .title{
    color: rgb(114, 61, 61);
    text-align: right;
    font-weight: 8;
    font-size: 29px;
    letter-spacing: 7.5px;
    height: 30px;
  }
  
  .sectionFruits{
    margin-left: 515px;
    box-shadow: -85px -71px 66px -19px rgba(255,0,0,0.15);
    border-radius: 7px;
    width: 960px;
    height: 1090px;
  }
  
  .listFruits{
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 940px;
    max-height: 1090px;
  }
  
  .cardFruit{
    height: 350px;
    width: 300px;
  }
  
  .imgFruit{
    width: 180px;
    height: 170px;
    margin: auto;
    display: block;
  }
  
  .descriptionFruit{
    width: 100%;
    text-align: center;
    color: rgb(104, 161, 161);
    font-size: 15px;
  }
  
  .nameFruit{
    text-align: center;
    letter-spacing: 1.5px;
    color: brown;
    font-weight: 400;
  }
  
  .btnLink{
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af4c4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #e3e3e3;
  }
  
  .btnLink:hover {
    background-color: #8e3e3e
  }
  
  .btnLink:active {
    background-color: #af4c4c;
    box-shadow: 0 5px #e3e3e3;
    transform: translateY(4px);
  }
  
  .searchInput{
    float: right;
    border-radius: 20px;
    padding-left: 50px;
    border: none;
    outline-color: #8e3e3e;
    margin-right: 2px;
    box-shadow: 0 2px #e3e3e3;
  }
  
  .btnAdm{
    float: right;
    justify-content: center;
    outline-color: #8e3e3e;
    width: 110px;
    height: 20px;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    font-size: 12px;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #af4c4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #e3e3e3;
  }
  
  .btnAdm:hover {
    background-color: #8e3e3e
  }
  
  .btnAdm:active {
    background-color: #af4c4c;
    box-shadow: 0 2px #e3e3e3;
    transform: translateY(4px);
  }